/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Ephesis&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family: "Frunchy Sage";
    src: url(frunchy-sage.ttf);
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(128, 0, 32);
    color: rgb(245, 245, 220);
    font-family: "Ibarra Real Nova", serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

h1 {
    /* font-family: "Elsie Swash Caps", serif;
    font-weight: 400; */
    font-family: "Frunchy Sage";
}

p {
    color: rgb(245, 245, 220);
    font-size: 1.3rem;
}

/*SECTIONS*/
section {
    padding: 60px 7%;
}

/*RSVP*/

#rsvp {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Ibarra Real Nova", serif;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(187, 134, 56);
}

.rsvp-header i {
    color: rgb(187, 134, 56);
    position: absolute;
    font-size: 4rem;
    right: 7%;
    top: 68px;
}

.rsvp-text {
    padding: 10px 10%;
}

h2 {
    font-family: "Frunchy Sage";
    font-size: 4rem;
}

.rsvp-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input {
    width: 20rem;
    border: 0;
    outline: none;
    background: rgb(245, 245, 220);
    padding: 10px;
    margin: 10px 0;
    color: rgb(128, 0, 32);
    font-size: 18px;
    border-radius: 6px;
}

.btn {
    /* display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem; */
    border: 0;
}

.btn.btn2 {
    margin-top: 10px;
    display: block;
    transition: all 300ms ease;
    width: 15rem;
    padding: 0.55rem;
    border-radius: 0.45rem;
    text-decoration: none;
    background-color: rgb(187, 134, 56);
    color: rgb(245, 245, 220);
    font-weight: 700;
    /* justify-content: center; */
}
.btn:hover {
    background: rgb(245, 245, 220);
    text-decoration: none;
    color: rgb(128, 0, 32);
    cursor: pointer;
}