/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Ephesis&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(128, 0, 32);
    color: rgb(245, 245, 220);
    font-family: "Ibarra Real Nova", serif;
}
html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Elsie Swash Caps", serif;
    font-weight: 400;
}

p {
    color: rgb(245, 245, 220);
}

/*SECTIONS*/
section {
    padding-top: 5vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/*PROFILES*/
/* .container {
    padding: 10px 10%;
} */
#hero {
    padding: 60px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-col-1{
    flex-basis: 50%;
}
.hero-col-1 img {
    width: 100%;
}
.hero-col-2 {
    flex-basis: 50%;
    text-align: center;
}

.hero-col-2 h1 {
    font-size: 7rem;
    margin: -2rem;
}

.hero_h1 {
    padding-top: 4.5rem;
}

.hero_joiner {
    font-size: 6rem;
    font-family: "Ephesis", cursive;
    transform: translateY(-120%);
    color: rgb(187, 134, 56);
    margin-bottom: -5.7rem;
}

.hero-col-2 h3 {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}

.hero-col-2 h4 {
    font-style: italic;
    margin-bottom: 0.9rem;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    display: block;
    width: 8rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    text-decoration: none;
    background-color: rgb(187, 134, 56);
    color: rgb(245, 245, 220);
    font-weight: 700;
    justify-content: center;
}
.btn:hover {
    background: rgb(245, 245, 220);
    text-decoration: none;
    color: rgb(128, 0, 32);
}