/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Ephesis&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family: "Frunchy Sage";
    src: url(frunchy-sage.ttf);
}

* {
    margin: 0;
    padding: 0;
}
body {
    /* background-color: rgb(128, 0, 32); */
    color: rgb(245, 245, 220);
    font-family: "Ibarra Real Nova", serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

h1 {
    /* font-family: "Elsie Swash Caps", serif;
    font-weight: 400; */
    font-family: "Frunchy Sage";
}

p {
    color: rgb(245, 245, 220);
    font-size: 1.3rem;
}

/*SECTIONS*/
section {
    padding: 60px 7%;
}

.section-container {
    display: flex;
}

/*HERO*/
/* .container {
    padding: 10px 10%;
} */
#hero {
    /* padding: 60px 0; */
    background-color: rgb(128, 0, 32);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-col-1{
    flex-basis: 55%;
}
.hero-col-1 img {
    width: 100%;
}
.hero-col-2 {
    flex-basis: 45%;
    text-align: center;
    padding-top: 3rem;
}

.hero-col-2 h1 {
    font-size: 12rem;
    margin: -6.5rem;
}

.hero_h1 {
    padding-top: 8rem;
}

.hero_joiner {
    font-size: 6rem;
    font-family: "Ephesis", cursive;
    transform: translateY(-110%);
    color: rgb(187, 134, 56);
    margin-bottom: -4.5rem;
}

.hero-col-2 h3 {
    font-family: "Frunchy Sage";
    font-size: 2.5rem;
    margin-bottom: 0.6rem;
}

.hero-col-2 p {
    font-style: italic;
    margin-bottom: 1.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    display: block;
    transition: all 300ms ease;
    width: 8rem;
    padding: 0.55rem;
    border-radius: 0.45rem;
    text-decoration: none;
    background-color: rgb(187, 134, 56);
    color: rgb(245, 245, 220);
    font-weight: 700;
    justify-content: center;
}
.btn:hover {
    background: rgb(245, 245, 220);
    text-decoration: none;
    color: rgb(128, 0, 32);
}

/*DATE*/

#date {
    background-color: rgb(245, 245, 220);
    color: rgb(128, 0, 32);
}

.date-col-1 {
    flex-basis: 30%;
}

.date-col-2 {
    flex-basis: 30%;
    align-content: center;
    text-align: center;
}

.date-col-3 {
    flex-basis: 30%;
}

.img-container {
    width: 100%;
    overflow: hidden;
}
.img-container img {
    width: 100%;
    height: 90vh;
    border-radius: 20rem;
    object-fit: cover;
    object-position: center;
}

.date-col-2 h1 {
    font-family: "Frunchy Sage";
    font-size: 6.75rem;
    line-height: 0.65;
}

.date-col-2 h3 {
    font-size: 2rem;
}

.date-col-2 img {
    width: 60%;
}

/*LOCATION*/
#location {
    background-color: rgb(128, 0, 32);
}

.location-col-1{
    flex-basis: 55%;
}

.location-col-1 h1 {
    font-size: 7.5rem;
    line-height: 0.6;
    padding-bottom: 1.5rem;
}

iframe {
    border-radius: 0.7rem;
    width: 86%;
    height: 400px;
    border: rgb(187, 134, 56) 0.3rem solid;
}

.location-col-2 {
    flex-basis: 45%;
    text-align: center;
    padding-top: 2rem;
}

/* .location-text {
    width: 60%;
    border: rgb(245, 245, 220) 0.25rem solid;
    padding: 5% 0;
} */

.location-col-2 h2 {
    font-size: 2rem;
}

.location-h3 {
    padding-top: 3%;
}
.location-col-2 img {
    padding: 5% 0;
    width: 80%;
}

/*SUPPORT*/

#support {
    background-color: rgb(245, 245, 220);
}

/*GIFT*/

#gift {
    background-color: rgb(128, 0, 32);
}

/*END*/

#end {

}