/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Ephesis&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(128, 0, 32);
    color: rgb(245, 245, 220);
    font-family: "Ibarra Real Nova", serif;
}
html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Elsie Swash Caps", serif;
    font-weight: 400;
}

p {
    color: rgb(245, 245, 220);
}

/*SECTIONS*/
section {
    padding-top: 5vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/*PROFILES*/
#hero {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.hero_pic-container {
    display: flex;
    height: 580px;
    width: 580px;
    margin: auto 0;
}

.hero_text {
    margin: 10rem 0rem;
    align-self: center;
    text-align: center;
    color: rgb(245, 245, 220);
}

.hero_text h1 {
    font-size: 8rem;
}

.hero_joiner {
    font-size: 6rem;
    font-family: "Ephesis", cursive;
    transform: translateY(-180%);
    color: rgb(187, 134, 56);
}

.hero_h2 {
    position: relative;
    transform: translateY(-30%);
}